include menu

div.span7
    h1 Equipos
    table.table.table-bordered
        thead
            tr
                th
                    a.btn(href="/profile/computers/add/") Añadir nuevo equipo
                th.span2
        tbody
            tr
                td 1
                td.center 
                    a.btn.btn-danger Eliminar equipo
                
