- if (!user)
  h2 Not Authenticated
  #google-login
    a(href='/auth/google', style='border: 0px')
      img(style='border: 0px', src='https://www.google.com/favicon.ico')
      Autenticar con Google
- else
  h2 Authenticated

  h3 Google User Data
  p= JSON.stringify(everyauth.user)
  p= JSON.stringify(everyauth.google.user)

  h3
    a(href='/logout') Logout
