!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "Power management"
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    script(src='js/libs/require/require.js', data-main='js/main')

  body
    div.navbar.navbar-static
        div.navbar-inner
            div.container-fluid
                a#title.brand(href='#') Power Management
                div.nav-collapse
                    ul.nav.pull-right
                        li
                            div.btn-toolbar
                                div.btn-group(data-toggle='buttons-radio')
                                    button#graphs.btn Gráficas
                                    button#stats.btn Estadísticas
                         li
                            div.btn-toolbar
                                - if (user)
                                    button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                                        i.icon-plus.icon-white 
                                        | #{user.displayName}
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href="/profile/keys")
                                                i.icon-star-empty
                                                | Gestionar keys SSH
                                        li
                                            a(href="/logout")
                                                Salir

                                - else
                                    a(href='/auth/google')
                                        button.btn.btn-primary Accedir
    #main
      != body
