div.well.span2
    ul.nav.nav-list
        li.nav-header Tu perfil
        li
            a(href="/profile/") Perfil
        li.active
            a(href="/profile/keys/") Llaves SSH

div.span7
    h1 Llaves SSH
    table.table.table-bordered
        thead
            tr
                th
                    a.btn(href="/profile/keys/add/") Añadir nueva llave
                th.span2
        tbody
            tr
                td 1
                td.center 
                    a.btn.btn-danger Eliminar llave
                
