div.well.span2
    ul.nav.nav-list
        li.nav-header Tu perfil
        li
            a(href="/profile/") Perfil
        li.active
            a(href="/profile/keys/") Llaves SSH

div.span7
    h1 Añadir llave SSH
    div.control-group
        label.control-label(for="textarea") id_rsa.pub
        div.controls
            textarea.input-xlarge
        a.btn Guardar
