div.well.span2
    ul.nav.nav-list
        li.nav-header Tu perfil
        li.active
            a(href="/profile/") Perfil
        li
            a(href="/profile/keys/") Llaves SSH

div.span7
    h1 hello world!
